In [103]:
############################
#import all useful libraries
############################
import requests
import json
import pandas as pd
from pprint import pprint
from datascience import *
###########################

In [104]:
############################
#Make query to graph 
############################


url = 'https://api.thegraph.com/subgraphs/name/traderjoe-xyz/lending'

query="""{
  accounts(where: {health_gt: 0, health_lt: 1.01, totalBorrowValueInUSD_gt: 0}) {
    id
    health
    totalBorrowValueInUSD
    totalCollateralValueInUSD
  }}"""

r = requests.post(url, json={'query': query})
#print(r.status_code)
#r.json()
############################
############################

In [105]:
############################
# Our Query is a dictionary
# of accounts that meet
# the criteria
############################

r.json()['data']['accounts'][0]

############################
# Above is an example of a
# almost liquidated account
############################

{'health': '1.009858643086855905',
 'id': '0x067989c6af98accc1e94ff8c21a6331b2efea928',
 'totalBorrowValueInUSD': '13969.71507821804893',
 'totalCollateralValueInUSD': '14107.43751319927'}

In [106]:
############################
# Make table of all accounts
# and search for close to
# liquidation
############################
r = requests.post(url, json={'query': query})
games = Table(['health', 'id', 'totalBorrowValueInUSD','totalCollateralValueInUSD'])
for i in r.json()['data']['accounts']:
    games.append(i.values())
    
games
############################
############################

health               | id                                         | totalBorrowValueInUSD      | totalCollateralValueInUSD
1.009858643086855905 | 0x067989c6af98accc1e94ff8c21a6331b2efea928 | 13969.71507821804893       | 14107.43751319927
1.005499017647058823 | 0x0b7a58935f8ef849889b90ee3fa0f35f5944a28f | 136.01524424               | 136.763194468344776
1.005865266020887664 | 0x5fe81b5b7e8e2812e419954d566c00d40143b9cf | 1015.844112480071143703    | 1021.802308435519292061
1.008826063074399619 | 0x6b25ca1834f3ff16e07087740a7bf7a771850261 | 8357.11089457179459        | 8430.87128244703748
1.008644774701161854 | 0x8212391d4fa83cb3246cdfd3575d610c0b342241 | 25.561249237097623034      | 25.782220477832577312
1.008609990691901954 | 0x8218a39d6684c3512eb1ec3835d2243b0baf8087 | 18.05018589                | 18.2055978225
1.003894048144048031 | 0xa177fb36af688172a3527ae5b2f8489719e7c206 | 2168947.2243808703185106   | 2177393.209294508776977733
1.003968511488511488 | 0xb4aead784c4e59ee9d1b317f82603b769bdba982 | 10.0105267262              | 10.050253616518976
1.004861219709681104 | 0xb80984375648c868f2d175e157800a2939167d80 | 9913042.929166258754569188 | 9961232.408836436685336304
1.008965831903994366 | 0xbbf15e008535cb93a7e2168038dc316c56faf791 | 95796.06865103103975       | 96654.960099619688377559
... (5 rows omitted)